body {
    color: black; /* Define a cor da letra*/
    text-decoration:black; /*Define sublinhado*/
    text-align: center;/*Alinhamento do texto*/
    border: 2px solid;
    border-bottom: black;
    border-radius: 10px;
    }
    
    
    p {
    color: black;
    font-style: italic;
    text-align: right;
    font-family: 'century';
    }
    
    body {
        background: url() no-repeat center center fixed;
        background-image: url("");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }
