.meutitulo{
  color:black;
  font-style:"italic";
  font-size: 16pt;
}

.meuh2{
  color:black;
  font-style:"italic";
  font-size: 16pt; 
}

.pag{
  color: black;
  font-style:"italic";
  font-size: :16pt;
}